.receita {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: auto;
    background: #eeeeee;
    border-radius: 20px;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  
  .receita .imgReceita {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .receita .imgReceita img {
    width: 150px;
  }
  
  .formularios {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%; /* Cada formulário ocupa 45% do espaço */
  }
  
  .formulario input {
    width: calc(100% - 10px); /* Para levar em consideração a borda de 2px (5px de cada lado) */
    height: 45px;
    margin-top: 7px;
    border: solid 1px #c0c0c0;
    border-radius: 22px;
  }

  .formulario textarea {
    resize: none;
    width: calc(100% - 10px); /* Para levar em consideração a borda de 2px (5px de cada lado) */
    height: 45px;
    margin-top: 7px;
    border: solid 1px #c0c0c0;
    border-radius: 22px;
    padding: 10px;
  }
  
  .formulario label {
    font-family: 'Lilita One', sans-serif;
  }
  
  .formulario input:not(:last-child),
  .formulario textarea:not(:last-child) {
    margin-bottom: 30px;
  }
  
  .formulario3 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espaço entre os formulários e o botão */
  }
  
  .enviarReceita input {
    width: 150px;
    height: 45px;
    border-radius: 27px;
    border: none;
    background: #3ac9c5;
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
    transition: 0.30s;
  }
  
  .enviarReceita input:hover {
    background: #41dfd9;
  }
  
  
  
  @media screen and (max-width: 1280px) {
  
    .menu {
       display: block;
       /* Exibir o menu */
    }
  
    .close-btn {
       display: block;
       /* Exibir o botão fechar */
    }
  
    .menu-toggle {
       display: block;
       /* Exibir o ícone do menu */
    }
  
    .col-1 {
       margin-bottom: 20px;
    }
  
    .navegacao2 {
      display: none;
     }
  
     .receita {
      width: 700px;
     }
  
  }
  
  
  @media screen and (max-width: 840px) {
  
    .menu {
       display: block;
       /* Exibir o menu */
    }
  
    .close-btn {
       display: block;
       /* Exibir o botão fechar */
    }
  
    .menu-toggle {
       display: block;
       /* Exibir o ícone do menu */
    }
  
    .col-1 {
       margin-bottom: 20px;
    }
  
    .navegacao2 {
      display: none;
     }
  
     .receita {
      width: 400px;
     }
  
  }
  
  
  @media screen and (max-width: 610px) {
  
    .menu {
       display: block;
       /* Exibir o menu */
    }
  
    .close-btn {
       display: block;
       /* Exibir o botão fechar */
    }
  
    .menu-toggle {
       display: block;
       /* Exibir o ícone do menu */
    }
  
    .col-1 {
       margin-bottom: 20px;
    }
  
    .navegacao2 {
      display: none;
     }
  }
  
  
  /* Estilos para telas menores usando Media Queries */
  @media screen and (max-width: 768px) {
  
    .menu {
       display: block;
       /* Exibir o menu */
    }
  
    .close-btn {
       display: block;
       /* Exibir o botão fechar */
    }
  
    .menu-toggle {
       display: block;
       /* Exibir o ícone do menu */
    }
  
    .col-1 {
       margin-bottom: 20px;
    }
  
    .navegacao2 {
      display: none;
     }
  
  }