<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/Style.css">
    <title>Site de Culinária</title>
</head>

<body>
    <header>
        <h1>Bem-vindo ao Site de Culinária</h1>
        <button class="hamburger">&#9776;</button>
        <nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./cadastro.html">Cadastro</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./perfil.html">Perfil</a></li>
                <li><a href="./receitas.html">Postar</a></li>
            </ul>
        </nav>
    </header>


    <main>

    </main>

    <footer>
        <p>&copy; 2024 Site de Culinária. Todos os direitos reservados.</p>
    </footer>
</body>

</html>

