<!DOCTYPE html>
<html>

<head>
    <title>Login - Meu Site de Culinária</title>
    <link rel="stylesheet" href="./CSS/Login.css">
    <link rel="stylesheet" href="./CSS/Style.css">
</head>

<body>
    <header>
        <h1 class="titulo">Bem-vindo ao Site de Culinária</h1>
        <button class="hamburger">&#9776;</button>
        <nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./cadastro.html">Cadastro</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./perfil.html">Perfil</a></li>
                <li><a href="#">Postar</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">



        <h1>Login</h1>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        </form>
    </div>

    <footer>
        <p>&copy; 2024 Site de Culinária. Todos os direitos reservados.</p>
    </footer>
</body>

</html>