<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./CSS/perfil.css">
    <link rel="stylesheet" href="./CSS/Style.css">
    <title>Perfil do Usuário</title>
</head>
<body>
    <header>
        <h1>Bem-vindo ao Site de Culinária</h1>
        <button class="hamburger">&#9776;</button>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Cadastro</a></li>
                <li><a href="/View/login.html">Login</a></li>
                <li><a href="./perfil.html">Perfil</a></li>
                <li><a href="#">Postar</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Perfil do Usuário</h1>
        <div class="profile">
            <img src="#" alt="">
            <div>
                <h2>Nome do Usuário</h2>
                <p>Email: usuario@example.com</p>
                <p>Localização: Cidade, Estado</p>
            </div>
        </div>
        <p>Outras informações sobre o usuário...</p>
    </div>

    <footer>
        <p>&copy; 2024 Site de Culinária. Todos os direitos reservados.</p>
    </footer>
</body>
</html>